.dropDownMenu {
  display: inline;
  position: absolute;
  top: 72px;
  right: 114px;
  width: max-content;
  height: fit-content;
  text-align: left;
  transform: translate(9.4%, 3%);
}

.dropDownMenuScrolled {
  background-color: #f2f2f2;
}
.dropDownMenuNotScrolled {
  background-color: none;
}
