.dropDownMenu2 {
  display: inline;
  position: absolute;
  padding: 0;
  top: 72px;
  right: 150px;
  width: max-content;
  height: fit-content;
  text-align: left;
  transform: translate(9.4%, 3%);
}

.dropDownMenuScrolled2 {
  background-color: rgba(0, 0, 0, 0.05);
}
.dropDownMenuNotScrolled2 {
  background-color: none;
}
.dropDownMenu2 li {
  display: block;
  width: 100%;
  padding: 14px 40px;
  transition: 0.15s ease;
}
