.dropDownMenu {
  display: inline;
  position: absolute;
  top: 76px;
  right: 147px;
  width: max-content;
  height: fit-content;
  text-align: left;
  transform: translate(9.4%, 3%);
}

.dropDownMenuScrolled {
  background-color: #fff;
}
.dropDownMenuNotScrolled {
  background-color: none;
}
