.dropDownMenu2 {
  position: absolute;
  padding: 0;
  width: max-content;
  height: fit-content;
  text-align: left;
  transform: translate(-40px, 13px);
}

.dropDownMenuScrolled2 {
  background-color: rgba(0, 0, 0, 0.05);
}
.dropDownMenuNotScrolled2 {
  background-color: none;
}
.dropDownMenu2 li {
  display: block;
  width: 100%;
  padding: 14px 40px;
  transition: 0.15s ease;
}
