#Page {
  padding-top: 1%;
  background-image: url('../../assets/isimm4.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
}
.Ifoot {
  margin-left: 1%;
  margin-right: 5%;
  background-color: rgb(196, 196, 196);
}
#pfp {
  max-width: 200;
  height: 80;

  margin-right: 50px;
}
#foot {
  background-color: rgb(196, 196, 196);
  margin-top: 4%;
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 17%;
  padding-top: 1%;
  
  
}
#sep {
  width: 80%;
  margin-left: 10%;
}
#Header {
  
  display: flex;
  margin-top: 10%;
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
#Nom-Prenom {
  margin-left: 100px;
  margin-right: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
#photo_profile {
  border-radius: 50%;
}
#Contact {
  display: block;
  padding-top: 35px;
  align-items: start;
  margin-left: 100px;
  margin-right: 100px;
}
#Nivau {
  margin-left: 100px;
  margin-right: 100px;
}
#Grades {
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 80px;
  width: 500px;
  height: 450px;
  padding: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  background-color: rgb(196, 196, 196);
}
#Associative {
  margin-top: 30px;
  background-color: rgb(196, 196, 196);
  border-radius: 10px;
  margin-left: 80px;
  margin-right: 150px;
  width: 500px;
  height: 450px;
  padding: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}
td {
  margin-bottom: 10px;
  padding: 30px;
}
#Information {
  display: flex;
  margin-top: 5px;
  border-radius: 10px;
}

#Link:hover {
  color: rgb(129, 64, 183);
}
#Link:not(:hover) {
  color: rgb(0, 0, 0);
}

#but {
  display: block;
  margin: 3px;
  size: 32px;
}

#git:hover {
  color: rgb(91, 90, 90);
  padding: auto;
}
#facebook:hover {
  color: rgb(8, 102, 255);
}
#linkedin:hover {
  color: rgb(10, 102, 194);
}
