#tablee {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 9%;
  padding: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  align-items: center;
}

#title {
  text-align: center;
  justify-content: center;
  align-items: center;
}
#nivaux {
  width: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 42%;
}
#uni {
  padding-top: 50px;
}
.selectEmploi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
table {
  border-color: inherit;
}
#table {
  padding-bottom: 10px;
  margin: 80px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
#B {
  background-color: rgb(101, 101, 101);
  padding-top: 1%;
}

#date {
  color: red;
}
#selectClasse {
  width: fit-content;
}
